.tree-node {
	border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 10px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 20px Arial, sans-serif;
    display: inline-block;
}